@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --text: #02020b;
    --background: #e9e9ff;
    --background-2: rgb(80, 80, 80);
    --primary: #3c3add;
    --secondary: #d082e9;
    --accent: #e35fe3;
}

body{
    background-color: var(--background);
    min-height: 100vh;
}

header{
    text-align: center;
    background-color: var(--secondary);
    padding: 24px;
}
main{
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#start,#restart{
    width: 200px;
    padding: 12px;
    border-radius: 8px;
    font-size: 1.5rem;
}

#status{
    font-size: 1.1rem;
}

.board{
    flex: 1;
    /* 600px max, if goes below, uses 90vw,
    if other elements get squashed, uses 300px */

    width: clamp(300px,600px,90vw); 
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(3,1fr);
}

.space{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    aspect-ratio: 2/2;
    border: 1px var(--primary) solid;

    font-size: 4rem;
}

.hidden{
    display: none;
}





